@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

*{
    animation:  mover-izquierda-derecha 1s 1;
}
@keyframes mover-izquierda-derecha{
    from{
        transform:translateX(-100px);

    }
    to{
        transform:translateX(0px) ;
    }
}
html{
    scroll-behavior: smooth;
}
.navbar a{
    font-size: 18px;
    color:#fff;
    font-weight: 500;
    margin-left: 40px;
}

 body, .script {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #080808;
    color: #fdfdfd;
    margin: 0;
    padding: 0;
}


header   {
    color: #fff;
    text-align: center;
    padding: 40px 0;
    
}
header a  {
    color: #fff;
    text-align: center;
    padding: 40px 0;
    
}


header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    display: center;
}

header p {
    font-size: 30px;
    
}
.logo img{
    background-color: #090909;
    box-shadow: 0px 0px 30px rgba(249, 252, 250, 0.363);
    border: #5c5858;
    border-radius: 100%;
    width: 300px;
    height: 300px;    
}
.logo1 img{
    background-color: #090909;
    
    width: 150px;
    height: 150px;
}
i{
    display: relative;
    color: #5c5858;
    padding: 10px;
    font-size: 40px;   
}
/* Secciones del currículum */
form {
    background-color: #090909;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(235, 232, 232, 0.363);
    width: 300px;
}

label {
    display: block;
    margin-bottom: 8px;
}
.section {
    background-color: #0a0a0a;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.my-button {
    color: #FFF;
    border: 2px solid #6602d8;
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #0e0d0d;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }

.boton_para_abajo:hover {
  box-shadow: inset 0 100px 0 0 #6602d8;
}

a {
    color: #030303;
    text-decoration: none;
    transition: color 1s ease;
}

a:hover {
    color: #141414;
}
canvas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; 
}

